---
import * as m from '@/paraglide/messages';
import ProgramVersions from '@/lib/components/ProgramVersions/ProgramVersions.svelte';
import Grid from '@/lib/components/Grid/Grid.svelte';
import config from '@/config';
---

<footer class="zm-footer">
    <div class="container">
        <Grid client:load cols={2} gap="xs">
            <div class="zm-footer-program-versions">
                <ProgramVersions client:idle />
            </div>
            <div class="zm-footer-nav-container">
                <nav>
                    <ul class="zm-footer-nav">
                        <li>
                            <a href=`mailto:${config.siteInfo.email}`>
                                <i class="bi bi-envelope-fill"></i>
                                {config.siteInfo.email}</a
                            >
                        </li>
                        <li>
                            <a href="https://github.com/zonemaster/zonemaster"
                                ><i class="bi bi-github"></i>
                                {m.sourceCode()}</a
                            >
                        </li>
                        <li>
                            <a href="https://doc.zonemaster.net/"
                                ><i class="bi bi-file-text-fill"></i>
                                {m.documentation()}</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
        </Grid>
    </div>
    <Grid client:load cols={1}>
        <div class="zm-footer-copyright">
            {m.copyright()}
        </div>
    </Grid>
</footer>
