---
import * as m from "../paraglide/messages.js";
import Collapsible from '@/lib/components/Collapsible/Collapsible.svelte';
const { data } = Astro.props;
---

<h1>{m.faqTitle()}</h1>
{Object.keys(data).map((category) => (
  <section class="rhythm">
    <h2>{category}</h2>
    {data[category].map((item) => (
      <Collapsible client:load title={item.data.question} id={item.id} content={item.body} />
    ))}
  </section>
))}
